<main class="body">
    <div class="titleimage">
        <h1>Be Prepared For Whatever The Economic Road Brings With The All-Terrain Portfolio</h1>
        <img src="/atp.png" alt="" id="portfolio">
    </div>

    <div class="allocation">
        <ul>
            <li>25% Cash</li>
            <li>25% Global Government Bond Ladder</li>
            <li>25% Global Small Cap Value Stocks</li>
            <li>12.5% Long/Flat Commodities</li>
            <li>10% Gold</li>
            <li>2.5% Bitcoin</li>
        </ul>
    </div>

    <h2>The All-Terrain Story</h2>
    <p>The Forrest Portfolio is my personal implementation of the generalized concept of <strong>risk parity</strong>. </p>
</main>

