<main class="body">
    <div class="titleimage">
        <h1><b>Be Prepared For Whatever The Economic Road Brings With The Perfect Portfolio</b></h1>
        <img src="/the-pp-final.png" alt="" id="portfolio">
    </div>

    <div class="allocation">
        <ul>
            <li>20% Cash (CBIL)</li>
            <li>20% Global Government Bond Ladder (XGGB)</li>
            <li>20% Global Value Stocks (VVL)</li>
            <li>20% Global Momentum Stocks (VMO)</li>
            <li>10% Long/Flat Commodities (CCOM)</li>
            <li>5% Gold (KILO.B)</li>
            <li>5% Bitcoin (BTCX.B)</li>
        </ul>
    </div>

    <div class="story">
        <h2 style="text-align: left;"><b>The Perfect Portfolio Story</b></h2>
        <p>The Perfect Portfolio (PP) is my personal implementation of the generalized concept of <strong>risk parity</strong>. Risk parity seeks to maximize risk-adjusted returns by diversifying a given portfolio amongst as many independent sources of risk as possible. The PP stands on the shoulders of giants such as Harry Browne, Ray Dalio, Warren Buffett, and other investment luminaries as it seeks to draw from the best ideas of each.</p>
        <p>From a macro perspective, the PP invests capital based on the 4 major economic environnments that we experience: inflation, deflation, recession, and prosperity. 20% of the portfolio is dedicated to each of these economic "quadrants," with the exception of prosperity. We allocate 40% of the portfolio to prosperity due to it being the most common and remunerative of the environments. Nonetheless, by providing protection no matter what the economy brings, the PP gives the investor strong growth with minimal downside risks.</p>
    </div>

    <div class="macro">
        <h2 style="text-align: left;"><b>The Economic Environments</b></h2>
        <p>In the diagram below we can see how each component of the PP corresponds to specific economic environments. While visually simple, each piece of the portfolio has deep ties to the state of the economy at any given time. Each component of the portfolio has a well-defined and specific purpose. The strategy is made to be as simple as possible, eschewing the fluff that many competing strategies have, while not compromising on its essential goal: maximum diversification.</p>
        <div class="environments">
            <img src="the-pp-quadrants.png" alt="" id="environments">
        </div>
    </div>

    <div class="performance">
        <h2 style="text-align: left;"><b>Performance</b></h2>
        <p>For the time period in which data is available, the comparison below demonstrates how the PP has provided superior returns to a conventional 60/40 portfolio, while simultaneously taking on less risk. Superior risk-adjusted returns are a hallmark trait of properly diversified portfolios.</p>
        <div class="performance">
            <img src="atp-comparison-5.png" alt="" id="performance">
            <img src="stats-1.png" alt="" id="stats">
        </div>
    </div>

    <div class="performance">
        <h2 style="text-align: left;"><b>Rebalancing Policy</b></h2>
        <p>Like all investment strategies, the Perfect Portfolio will require periodic rebalancing on the part of the investor. The <i>general</i> principle I recommend is to rebalance whenever any component of the portfolio deviates from its target weight by either +/-25% on a relative basis or +/-5% on an absolute basis (whichever comes first). As an example, the long/flat commodities component of the portfolio has a target weight of 10% in this strategy. A rebalancing band would be triggered if this specific asset grew as large as 12.5% or declined to as low as 7.5% in absolute terms.</p>
        <p>Sticking with the strategy elucidated above will serve the investor well. However, in order to add flexibility and tax efficiency, we can include some additional considerations. First, for the 20% cash portion of the portfolio, we can widen the rebalancing band to +/-50% on a relative basis. This would equate to a +/-10% deviation in absolute terms. Secondly, I suggest that the investor make all contributions and withdrawals to the portfolio to the cash component first. This wider rebalancing band, combined with a cash-first policy, will maximize spending flexibility when needed, and also reduce taxes by minimizing the frequency of selling incidents that involve securities with embedded capital gains liabilities.</p>
    </div>
</main>

