<main>
    <h1>The Forrest Portfolio</h1>

    <img src="/the-forrest-portfolio.jpg" alt="">

    <p>
        <ul>
            <li>25% Cash</li>
            <li>25% Global Government Bond Ladder</li>
            <li>25% Global Small Cap Value Stocks</li>
            <li>12.5% Long/Flat Commodities</li>
            <li>10% Gold</li>
            <li>2.5% Bitcoin</li>
        </ul>
    </p>

    <h2>The Forrest Portfolio Story</h2>
    <p>The Forrest Portfolio is my personal implementation of the risk parity concept.</p>
</main>


