<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "All-Terrain Capital", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "The Software Company",   root_path %></li>
        <li><%= link_to "The Investment Portfolio",   root_path %></li>
      </ul>
    </nav>
  </div>
</header>